.containercol {
    width: 97%;
    height: 98%;
    padding-left: 15px;
    padding-top: 75px;
    background-color: rgb(252, 251, 251); 
}
/* cambiamos colores de las flechaas del carusel */
.carousel-control-prev, .arousel-control-prev-icon{
    filter: invert(108%);
    
}

.carousel-control-next, .arousel-control-next-icon{
    filter: invert(108%);
    
} 

.carousel-control-prev, .arousel-control-prev-icon{
    filter: invert(108%);
}

.carousel-control-next, .arousel-control-next-icon{
    filter: invert(108%);
}

.containercol button{
    margin-right: 35px;
    width: 10%;
}

/* MODIFIamos y alineamos el boton de registrar usuaio */
.containerbtn button{
    padding-top: 5px;
}

 /* arrastramos el boton hacia la derecha lo alejamos con un margin del borde y lo arrastamos hacia abajo*/
.containerbtn{
    margin-right: 7px;
    text-align: end;
}

.containerbtn :hover{
    background-color: grey;

}


.navbar button{
    margin-right: 10px;
}

#productos{
    width: 98.5%;
    height: 97%;
    background-color: rgb(252, 251, 251); 
    display: flex;
    flex-direction: row;
    padding-top: 25x;
    padding-left: 30px;
    
}
.card img{

    height: 50%;
    width: 100%;
}

#itemsCat{
    text-align: center;
    height: 90%;
}

body{
    /* SIRVE PARA MOVER FOOTER HACIA ABAJO*/
    display: grid; 
    min-height: 100vh; 
    grid-template-rows: auto 1fr auto;  
}

/* INICIO CSS FOOTER */
.footer{
    padding-top: 30px;
}

#fondo{
    height: 100%;
    width: 100%; 
    background-image: linear-gradient(to top, rgba(243, 241, 247, 0.5) 0%, rgba(240, 235, 238, 0.5) 100%),url(../img/fondofooterpetshop.jpg);
}

#fondo h3{
    text-align: center;
}

#col1 img{
    height: 25px;
    width: 25px;
}
/* FIN CSS FOOTER */

/* INICIO CSS CONTENEDOR TIPS */
.containerTips{
    background-color: rgb(252, 251, 251); 
    width: 97%;
    height: 100%; 
}

.containerTips img{
    width: 80%;
    height: 100%;
}

#img{
    text-align: end;
}

#descTips h1{
    margin-top: 100px;
}

/* FIN CSS CONTENEDOR TIPS */

/*INICIO CSS LOGIN */

#contenedorLogin{
    height: 70vh;
    width: 65vh;
}

#contenedorLogin button{
    width: 100%;
    display: flex;
    justify-content: center;
   
}

#loginTitulo{
    text-align: center;
}

.input-group{
     padding: 5px; 
}

/*FIN CSS LOGIN */

/* CONTENEDOR NOSOTROS */
#sectionNosotros{
    
    width: 97%;
    padding: 50px 10px;
    text-align: center;
    background-color: rgb(252, 251, 251); 
    
}